[submodule "cinder"]
	path = cinder
	url = https://git.openstack.org/openstack/cinder
	branch = .
[submodule "glance"]
	path = glance
	url = https://git.openstack.org/openstack/glance
	branch = .
[submodule "heat"]
	path = heat
	url = https://git.openstack.org/openstack/heat
	branch = .
[submodule "horizon"]
	path = horizon
	url = https://git.openstack.org/openstack/horizon
	branch = .
[submodule "ironic"]
	path = ironic
	url = http://review.portbleu.com:8080/ironic.git
	branch = .
[submodule "ironic-python-agent"]
	path = ironic-python-agent
	url = http://review.portbleu.com:8080/ironic-python-agent.git
	branch = .
[submodule "keystone"]
	path = keystone
	url = https://git.openstack.org/openstack/keystone
	branch = .
[submodule "neutron"]
	path = neutron
	url = https://git.openstack.org/openstack/neutron
	branch = .
[submodule "neutron-lbaas"]
	path = neutron-lbaas
	url = https://git.openstack.org/openstack/neutron-lbaas
	branch = .
[submodule "nova"]
	path = nova
	url = http://review.portbleu.com:8080/nova.git
	branch = .
[submodule "python-ganttclient"]
	path = python-ganttclient
	url = https://review.openstack.org/openstack/python-ganttclient.git
	branch = .
[submodule "python-ironicclient"]
	path = python-ironicclient
	url = http://review.portbleu.com:8080/python-ironicclient.git
	branch = .
[submodule "requirements"]
	path = requirements
	url = https://git.openstack.org/openstack/requirements
	branch = .
[submodule "ovs"]
	path = ovs
	url = http://review.portbleu.com:8080/ovs.git
[submodule "kuryr"]
	path = kuryr
	url = https://git.openstack.org/openstack/kuryr.git
[submodule "networking-ovn"]
	path = networking-ovn
	url = https://git.openstack.org/openstack/networking-ovn.git
