[submodule "bashate"]
	path = bashate
	url = https://git.openstack.org/openstack/bashate
	branch = .
[submodule "ci-sandbox"]
	path = ci-sandbox
	url = https://git.openstack.org/openstack/ci-sandbox
	branch = .
[submodule "cookiecutter"]
	path = cookiecutter
	url = https://git.openstack.org/openstack/cookiecutter
	branch = .
[submodule "devstack"]
	path = devstack
	url = https://git.openstack.org/openstack/devstack
	branch = .
[submodule "devstack-vagrant"]
	path = devstack-vagrant
	url = https://git.openstack.org/openstack/devstack-vagrant
	branch = .
[submodule "grenade"]
	path = grenade
	url = https://git.openstack.org/openstack/grenade
	branch = .
[submodule "hacking"]
	path = hacking
	url = https://git.openstack.org/openstack/hacking
	branch = .
[submodule "heat-cfnclient"]
	path = heat-cfnclient
	url = https://git.openstack.org/openstack/heat-cfnclient
	branch = .
[submodule "openstack-nose"]
	path = openstack-nose
	url = https://git.openstack.org/openstack/openstack-nose
	branch = .
[submodule "oslo-cookiecutter"]
	path = oslo-cookiecutter
	url = https://git.openstack.org/openstack/oslo-cookiecutter
	branch = .
[submodule "pbr"]
	path = pbr
	url = https://git.openstack.org/openstack/pbr
	branch = .
[submodule "sandbox"]
	path = sandbox
	url = https://git.openstack.org/openstack/sandbox
	branch = .
[submodule "specs-cookiecutter"]
	path = specs-cookiecutter
	url = https://git.openstack.org/openstack/specs-cookiecutter
	branch = .
[submodule "activity-board"]
	path = activity-board
	url = https://git.openstack.org/openstack/activity-board
	branch = .
[submodule "askbot-theme"]
	path = askbot-theme
	url = https://git.openstack.org/openstack/askbot-theme
	branch = .
[submodule "bugdaystats"]
	path = bugdaystats
	url = https://git.openstack.org/openstack/bugdaystats
	branch = .
[submodule "devstack-gate"]
	path = devstack-gate
	url = https://git.openstack.org/openstack/devstack-gate
	branch = .
[submodule "elastic-recheck"]
	path = elastic-recheck
	url = https://git.openstack.org/openstack/elastic-recheck
	branch = .
[submodule "gear"]
	path = gear
	url = https://git.openstack.org/openstack/gear
	branch = .
[submodule "gearman-plugin"]
	path = gearman-plugin
	url = https://git.openstack.org/openstack/gearman-plugin
	branch = .
[submodule "gerritbot"]
	path = gerritbot
	url = https://git.openstack.org/openstack/gerritbot
	branch = .
[submodule "gerritlib"]
	path = gerritlib
	url = https://git.openstack.org/openstack/gerritlib
	branch = .
[submodule "git-review"]
	path = git-review
	url = https://git.openstack.org/openstack/git-review
	branch = .
[submodule "gitdm"]
	path = gitdm
	url = https://git.openstack.org/openstack/gitdm
	branch = .
[submodule "groups"]
	path = groups
	url = https://git.openstack.org/openstack/groups
	branch = .
[submodule "groups-static-pages"]
	path = groups-static-pages
	url = https://git.openstack.org/openstack/groups-static-pages
	branch = .
[submodule "infra-manual"]
	path = infra-manual
	url = https://git.openstack.org/openstack/infra-manual
	branch = .
[submodule "infra-specs"]
	path = infra-specs
	url = https://git.openstack.org/openstack/infra-specs
	branch = .
[submodule "irc-meetings"]
	path = irc-meetings
	url = https://git.openstack.org/openstack/irc-meetings
	branch = .
[submodule "jeepyb"]
	path = jeepyb
	url = https://git.openstack.org/openstack/jeepyb
	branch = .
[submodule "jenkins-job-builder"]
	path = jenkins-job-builder
	url = https://git.openstack.org/openstack/jenkins-job-builder
	branch = .
[submodule "lodgeit"]
	path = lodgeit
	url = https://git.openstack.org/openstack/lodgeit
	branch = .
[submodule "nodepool"]
	path = nodepool
	url = https://git.openstack.org/openstack/nodepool
	branch = .
[submodule "nose-html-output"]
	path = nose-html-output
	url = https://git.openstack.org/openstack/nose-html-output
	branch = .
[submodule "odsreg"]
	path = odsreg
	url = https://git.openstack.org/openstack/odsreg
	branch = .
[submodule "openstackid"]
	path = openstackid
	url = https://git.openstack.org/openstack/openstackid
	branch = .
[submodule "os-loganalyze"]
	path = os-loganalyze
	url = https://git.openstack.org/openstack/os-loganalyze
	branch = .
[submodule "project-config"]
	path = project-config
	url = https://git.openstack.org/openstack/project-config
	branch = .
[submodule "puppet-accessbot"]
	path = puppet-accessbot
	url = https://git.openstack.org/openstack/puppet-accessbot
	branch = .
[submodule "puppet-ansible"]
	path = puppet-ansible
	url = https://git.openstack.org/openstack/puppet-ansible
	branch = .
[submodule "puppet-apparmor"]
	path = puppet-apparmor
	url = https://git.openstack.org/openstack/puppet-apparmor
	branch = .
[submodule "puppet-askbot"]
	path = puppet-askbot
	url = https://git.openstack.org/openstack/puppet-askbot
	branch = .
[submodule "puppet-asterisk"]
	path = puppet-asterisk
	url = https://git.openstack.org/openstack/puppet-asterisk
	branch = .
[submodule "puppet-bugdaystats"]
	path = puppet-bugdaystats
	url = https://git.openstack.org/openstack/puppet-bugdaystats
	branch = .
[submodule "puppet-bup"]
	path = puppet-bup
	url = https://git.openstack.org/openstack/puppet-bup
	branch = .
[submodule "puppet-cgit"]
	path = puppet-cgit
	url = https://git.openstack.org/openstack/puppet-cgit
	branch = .
[submodule "puppet-dashboard"]
	path = puppet-dashboard
	url = https://git.openstack.org/openstack/puppet-dashboard
	branch = .
[submodule "puppet-drupal"]
	path = puppet-drupal
	url = https://git.openstack.org/openstack/puppet-drupal
	branch = .
[submodule "puppet-elastic_recheck"]
	path = puppet-elastic_recheck
	url = https://git.openstack.org/openstack/puppet-elastic_recheck
	branch = .
[submodule "puppet-elasticsearch"]
	path = puppet-elasticsearch
	url = https://git.openstack.org/openstack/puppet-elasticsearch
	branch = .
[submodule "puppet-etherpad_lite"]
	path = puppet-etherpad_lite
	url = https://git.openstack.org/openstack/puppet-etherpad_lite
	branch = .
[submodule "puppet-exim"]
	path = puppet-exim
	url = https://git.openstack.org/openstack/puppet-exim
	branch = .
[submodule "puppet-gerrit"]
	path = puppet-gerrit
	url = https://git.openstack.org/openstack/puppet-gerrit
	branch = .
[submodule "puppet-gerritbot"]
	path = puppet-gerritbot
	url = https://git.openstack.org/openstack/puppet-gerritbot
	branch = .
[submodule "puppet-github"]
	path = puppet-github
	url = https://git.openstack.org/openstack/puppet-github
	branch = .
[submodule "puppet-graphite"]
	path = puppet-graphite
	url = https://git.openstack.org/openstack/puppet-graphite
	branch = .
[submodule "puppet-haveged"]
	path = puppet-haveged
	url = https://git.openstack.org/openstack/puppet-haveged
	branch = .
[submodule "puppet-httpd"]
	path = puppet-httpd
	url = https://git.openstack.org/openstack/puppet-httpd
	branch = .
[submodule "puppet-iptables"]
	path = puppet-iptables
	url = https://git.openstack.org/openstack/puppet-iptables
	branch = .
[submodule "puppet-jeepyb"]
	path = puppet-jeepyb
	url = https://git.openstack.org/openstack/puppet-jeepyb
	branch = .
[submodule "puppet-jenkins"]
	path = puppet-jenkins
	url = https://git.openstack.org/openstack/puppet-jenkins
	branch = .
[submodule "puppet-kerberos"]
	path = puppet-kerberos
	url = https://git.openstack.org/openstack/puppet-kerberos
	branch = .
[submodule "puppet-kibana"]
	path = puppet-kibana
	url = https://git.openstack.org/openstack/puppet-kibana
	branch = .
[submodule "puppet-lodgeit"]
	path = puppet-lodgeit
	url = https://git.openstack.org/openstack/puppet-lodgeit
	branch = .
[submodule "puppet-log_processor"]
	path = puppet-log_processor
	url = https://git.openstack.org/openstack/puppet-log_processor
	branch = .
[submodule "puppet-logrotate"]
	path = puppet-logrotate
	url = https://git.openstack.org/openstack/puppet-logrotate
	branch = .
[submodule "puppet-logstash"]
	path = puppet-logstash
	url = https://git.openstack.org/openstack/puppet-logstash
	branch = .
[submodule "puppet-mailman"]
	path = puppet-mailman
	url = https://git.openstack.org/openstack/puppet-mailman
	branch = .
[submodule "puppet-mediawiki"]
	path = puppet-mediawiki
	url = https://git.openstack.org/openstack/puppet-mediawiki
	branch = .
[submodule "puppet-meetbot"]
	path = puppet-meetbot
	url = https://git.openstack.org/openstack/puppet-meetbot
	branch = .
[submodule "puppet-mysql_backup"]
	path = puppet-mysql_backup
	url = https://git.openstack.org/openstack/puppet-mysql_backup
	branch = .
[submodule "puppet-nodepool"]
	path = puppet-nodepool
	url = https://git.openstack.org/openstack/puppet-nodepool
	branch = .
[submodule "puppet-openafs"]
	path = puppet-openafs
	url = https://git.openstack.org/openstack/puppet-openafs
	branch = .
[submodule "puppet-openstackid"]
	path = puppet-openstackid
	url = https://git.openstack.org/openstack/puppet-openstackid
	branch = .
[submodule "puppet-packagekit"]
	path = puppet-packagekit
	url = https://git.openstack.org/openstack/puppet-packagekit
	branch = .
[submodule "puppet-pip"]
	path = puppet-pip
	url = https://git.openstack.org/openstack/puppet-pip
	branch = .
[submodule "puppet-planet"]
	path = puppet-planet
	url = https://git.openstack.org/openstack/puppet-planet
	branch = .
[submodule "puppet-project_config"]
	path = puppet-project_config
	url = https://git.openstack.org/openstack/puppet-project_config
	branch = .
[submodule "puppet-redis"]
	path = puppet-redis
	url = https://git.openstack.org/openstack/puppet-redis
	branch = .
[submodule "puppet-releasestatus"]
	path = puppet-releasestatus
	url = https://git.openstack.org/openstack/puppet-releasestatus
	branch = .
[submodule "puppet-reviewday"]
	path = puppet-reviewday
	url = https://git.openstack.org/openstack/puppet-reviewday
	branch = .
[submodule "puppet-simpleproxy"]
	path = puppet-simpleproxy
	url = https://git.openstack.org/openstack/puppet-simpleproxy
	branch = .
[submodule "puppet-snmpd"]
	path = puppet-snmpd
	url = https://git.openstack.org/openstack/puppet-snmpd
	branch = .
[submodule "puppet-ssh"]
	path = puppet-ssh
	url = https://git.openstack.org/openstack/puppet-ssh
	branch = .
[submodule "puppet-ssl_cert_check"]
	path = puppet-ssl_cert_check
	url = https://git.openstack.org/openstack/puppet-ssl_cert_check
	branch = .
[submodule "puppet-statusbot"]
	path = puppet-statusbot
	url = https://git.openstack.org/openstack/puppet-statusbot
	branch = .
[submodule "puppet-storyboard"]
	path = puppet-storyboard
	url = https://git.openstack.org/openstack/puppet-storyboard
	branch = .
[submodule "puppet-subunit2sql"]
	path = puppet-subunit2sql
	url = https://git.openstack.org/openstack/puppet-subunit2sql
	branch = .
[submodule "puppet-sudoers"]
	path = puppet-sudoers
	url = https://git.openstack.org/openstack/puppet-sudoers
	branch = .
[submodule "puppet-tmpreaper"]
	path = puppet-tmpreaper
	url = https://git.openstack.org/openstack/puppet-tmpreaper
	branch = .
[submodule "puppet-ulimit"]
	path = puppet-ulimit
	url = https://git.openstack.org/openstack/puppet-ulimit
	branch = .
[submodule "puppet-unattended_upgrades"]
	path = puppet-unattended_upgrades
	url = https://git.openstack.org/openstack/puppet-unattended_upgrades
	branch = .
[submodule "puppet-unbound"]
	path = puppet-unbound
	url = https://git.openstack.org/openstack/puppet-unbound
	branch = .
[submodule "puppet-user"]
	path = puppet-user
	url = https://git.openstack.org/openstack/puppet-user
	branch = .
[submodule "puppet-vcsrepo"]
	path = puppet-vcsrepo
	url = https://git.openstack.org/openstack/puppet-vcsrepo
	branch = .
[submodule "puppet-vinz"]
	path = puppet-vinz
	url = https://git.openstack.org/openstack/puppet-vinz
	branch = .
[submodule "puppet-yum"]
	path = puppet-yum
	url = https://git.openstack.org/openstack/puppet-yum
	branch = .
[submodule "puppet-zanata"]
	path = puppet-zanata
	url = https://git.openstack.org/openstack/puppet-zanata
	branch = .
[submodule "puppet-zuul"]
	path = puppet-zuul
	url = https://git.openstack.org/openstack/puppet-zuul
	branch = .
[submodule "pypi-mirror"]
	path = pypi-mirror
	url = https://git.openstack.org/openstack/pypi-mirror
	branch = .
[submodule "python-storyboardclient"]
	path = python-storyboardclient
	url = https://git.openstack.org/openstack/python-storyboardclient
	branch = .
[submodule "release-tools"]
	path = release-tools
	url = https://git.openstack.org/openstack/release-tools
	branch = .
[submodule "releasestatus"]
	path = releasestatus
	url = https://git.openstack.org/openstack/releasestatus
	branch = .
[submodule "reviewday"]
	path = reviewday
	url = https://git.openstack.org/openstack/reviewday
	branch = .
[submodule "reviewstats"]
	path = reviewstats
	url = https://git.openstack.org/openstack/reviewstats
	branch = .
[submodule "shade"]
	path = shade
	url = https://git.openstack.org/openstack/shade
	branch = .
[submodule "statusbot"]
	path = statusbot
	url = https://git.openstack.org/openstack/statusbot
	branch = .
[submodule "storyboard"]
	path = storyboard
	url = https://git.openstack.org/openstack/storyboard
	branch = .
[submodule "storyboard-webclient"]
	path = storyboard-webclient
	url = https://git.openstack.org/openstack/storyboard-webclient
	branch = .
[submodule "subunit2sql"]
	path = subunit2sql
	url = https://git.openstack.org/openstack/subunit2sql
	branch = .
[submodule "system-config"]
	path = system-config
	url = https://git.openstack.org/openstack/system-config
	branch = .
[submodule "tripleo-ci"]
	path = tripleo-ci
	url = https://git.openstack.org/openstack/tripleo-ci
	branch = .
[submodule "yaml2ical"]
	path = yaml2ical
	url = https://git.openstack.org/openstack/yaml2ical
	branch = .
[submodule "zmq-event-publisher"]
	path = zmq-event-publisher
	url = https://git.openstack.org/openstack/zmq-event-publisher
	branch = .
[submodule "zuul"]
	path = zuul
	url = https://git.openstack.org/openstack/zuul
	branch = .
[submodule "api-site"]
	path = api-site
	url = https://git.openstack.org/openstack/api-site
	branch = .
[submodule "api-wg"]
	path = api-wg
	url = https://git.openstack.org/openstack/api-wg
	branch = .
[submodule "barbican"]
	path = barbican
	url = https://git.openstack.org/openstack/barbican
	branch = .
[submodule "barbican-specs"]
	path = barbican-specs
	url = https://git.openstack.org/openstack/barbican-specs
	branch = .
[submodule "castellan"]
	path = castellan
	url = https://git.openstack.org/openstack/castellan
	branch = .
[submodule "ceilometer"]
	path = ceilometer
	url = https://git.openstack.org/openstack/ceilometer
	branch = .
[submodule "ceilometer-specs"]
	path = ceilometer-specs
	url = https://git.openstack.org/openstack/ceilometer-specs
	branch = .
[submodule "ceilometermiddleware"]
	path = ceilometermiddleware
	url = https://git.openstack.org/openstack/ceilometermiddleware
	branch = .
[submodule "cinder"]
	path = cinder
	url = https://git.openstack.org/openstack/cinder
	branch = .
[submodule "cinder-specs"]
	path = cinder-specs
	url = https://git.openstack.org/openstack/cinder-specs
	branch = .
[submodule "cliff"]
	path = cliff
	url = https://git.openstack.org/openstack/cliff
	branch = .
[submodule "debtcollector"]
	path = debtcollector
	url = https://git.openstack.org/openstack/debtcollector
	branch = .
[submodule "designate"]
	path = designate
	url = https://git.openstack.org/openstack/designate
	branch = .
[submodule "designate-specs"]
	path = designate-specs
	url = https://git.openstack.org/openstack/designate-specs
	branch = .
[submodule "dib-utils"]
	path = dib-utils
	url = https://git.openstack.org/openstack/dib-utils
	branch = .
[submodule "diskimage-builder"]
	path = diskimage-builder
	url = https://git.openstack.org/openstack/diskimage-builder
	branch = .
[submodule "django_openstack_auth"]
	path = django_openstack_auth
	url = https://git.openstack.org/openstack/django_openstack_auth
	branch = .
[submodule "docs-specs"]
	path = docs-specs
	url = https://git.openstack.org/openstack/docs-specs
	branch = .
[submodule "gantt"]
	path = gantt
	url = https://git.openstack.org/openstack/gantt
	branch = .
[submodule "glance"]
	path = glance
	url = https://git.openstack.org/openstack/glance
	branch = .
[submodule "glance-specs"]
	path = glance-specs
	url = https://git.openstack.org/openstack/glance-specs
	branch = .
[submodule "glance_store"]
	path = glance_store
	url = https://git.openstack.org/openstack/glance_store
	branch = .
[submodule "governance"]
	path = governance
	url = https://git.openstack.org/openstack/governance
	branch = .
[submodule "ha-guide"]
	path = ha-guide
	url = https://git.openstack.org/openstack/ha-guide
	branch = .
[submodule "heat"]
	path = heat
	url = https://git.openstack.org/openstack/heat
	branch = .
[submodule "heat-cfntools"]
	path = heat-cfntools
	url = https://git.openstack.org/openstack/heat-cfntools
	branch = .
[submodule "heat-specs"]
	path = heat-specs
	url = https://git.openstack.org/openstack/heat-specs
	branch = .
[submodule "heat-templates"]
	path = heat-templates
	url = https://git.openstack.org/openstack/heat-templates
	branch = .
[submodule "heat-translator"]
	path = heat-translator
	url = https://git.openstack.org/openstack/heat-translator
	branch = .
[submodule "horizon"]
	path = horizon
	url = https://git.openstack.org/openstack/horizon
	branch = .
[submodule "ironic"]
	path = ironic
	url = https://git.openstack.org/openstack/ironic
	branch = .
[submodule "ironic-python-agent"]
	path = ironic-python-agent
	url = https://git.openstack.org/openstack/ironic-python-agent
	branch = .
[submodule "ironic-specs"]
	path = ironic-specs
	url = https://git.openstack.org/openstack/ironic-specs
	branch = .
[submodule "keystone"]
	path = keystone
	url = https://git.openstack.org/openstack/keystone
	branch = .
[submodule "keystone-specs"]
	path = keystone-specs
	url = https://git.openstack.org/openstack/keystone-specs
	branch = .
[submodule "keystonemiddleware"]
	path = keystonemiddleware
	url = https://git.openstack.org/openstack/keystonemiddleware
	branch = .
[submodule "kite"]
	path = kite
	url = https://git.openstack.org/openstack/kite
	branch = .
[submodule "manila"]
	path = manila
	url = https://git.openstack.org/openstack/manila
	branch = .
[submodule "neutron"]
	path = neutron
	url = https://git.openstack.org/openstack/neutron
	branch = .
[submodule "neutron-fwaas"]
	path = neutron-fwaas
	url = https://git.openstack.org/openstack/neutron-fwaas
	branch = .
[submodule "neutron-lbaas"]
	path = neutron-lbaas
	url = https://git.openstack.org/openstack/neutron-lbaas
	branch = .
[submodule "neutron-specs"]
	path = neutron-specs
	url = https://git.openstack.org/openstack/neutron-specs
	branch = .
[submodule "neutron-vpnaas"]
	path = neutron-vpnaas
	url = https://git.openstack.org/openstack/neutron-vpnaas
	branch = .
[submodule "nova"]
	path = nova
	url = https://git.openstack.org/openstack/nova
	branch = .
[submodule "nova-specs"]
	path = nova-specs
	url = https://git.openstack.org/openstack/nova-specs
	branch = .
[submodule "openstack-doc-tools"]
	path = openstack-doc-tools
	url = https://git.openstack.org/openstack/openstack-doc-tools
	branch = .
[submodule "openstack-manuals"]
	path = openstack-manuals
	url = https://git.openstack.org/openstack/openstack-manuals
	branch = .
[submodule "openstack-planet"]
	path = openstack-planet
	url = https://git.openstack.org/openstack/openstack-planet
	branch = .
[submodule "openstack-specs"]
	path = openstack-specs
	url = https://git.openstack.org/openstack/openstack-specs
	branch = .
[submodule "openstackdocstheme"]
	path = openstackdocstheme
	url = https://git.openstack.org/openstack/openstackdocstheme
	branch = .
[submodule "operations-guide"]
	path = operations-guide
	url = https://git.openstack.org/openstack/operations-guide
	branch = .
[submodule "os-apply-config"]
	path = os-apply-config
	url = https://git.openstack.org/openstack/os-apply-config
	branch = .
[submodule "os-cloud-config"]
	path = os-cloud-config
	url = https://git.openstack.org/openstack/os-cloud-config
	branch = .
[submodule "os-collect-config"]
	path = os-collect-config
	url = https://git.openstack.org/openstack/os-collect-config
	branch = .
[submodule "os-net-config"]
	path = os-net-config
	url = https://git.openstack.org/openstack/os-net-config
	branch = .
[submodule "os-refresh-config"]
	path = os-refresh-config
	url = https://git.openstack.org/openstack/os-refresh-config
	branch = .
[submodule "oslo-incubator"]
	path = oslo-incubator
	url = https://git.openstack.org/openstack/oslo-incubator
	branch = .
[submodule "oslo-specs"]
	path = oslo-specs
	url = https://git.openstack.org/openstack/oslo-specs
	branch = .
[submodule "oslo.concurrency"]
	path = oslo.concurrency
	url = https://git.openstack.org/openstack/oslo.concurrency
	branch = .
[submodule "oslo.config"]
	path = oslo.config
	url = https://git.openstack.org/openstack/oslo.config
	branch = .
[submodule "oslo.context"]
	path = oslo.context
	url = https://git.openstack.org/openstack/oslo.context
	branch = .
[submodule "oslo.db"]
	path = oslo.db
	url = https://git.openstack.org/openstack/oslo.db
	branch = .
[submodule "oslo.i18n"]
	path = oslo.i18n
	url = https://git.openstack.org/openstack/oslo.i18n
	branch = .
[submodule "oslo.log"]
	path = oslo.log
	url = https://git.openstack.org/openstack/oslo.log
	branch = .
[submodule "oslo.messaging"]
	path = oslo.messaging
	url = https://git.openstack.org/openstack/oslo.messaging
	branch = .
[submodule "oslo.middleware"]
	path = oslo.middleware
	url = https://git.openstack.org/openstack/oslo.middleware
	branch = .
[submodule "oslo.policy"]
	path = oslo.policy
	url = https://git.openstack.org/openstack/oslo.policy
	branch = .
[submodule "oslo.rootwrap"]
	path = oslo.rootwrap
	url = https://git.openstack.org/openstack/oslo.rootwrap
	branch = .
[submodule "oslo.serialization"]
	path = oslo.serialization
	url = https://git.openstack.org/openstack/oslo.serialization
	branch = .
[submodule "oslo.utils"]
	path = oslo.utils
	url = https://git.openstack.org/openstack/oslo.utils
	branch = .
[submodule "oslo.versionedobjects"]
	path = oslo.versionedobjects
	url = https://git.openstack.org/openstack/oslo.versionedobjects
	branch = .
[submodule "oslo.vmware"]
	path = oslo.vmware
	url = https://git.openstack.org/openstack/oslo.vmware
	branch = .
[submodule "oslosphinx"]
	path = oslosphinx
	url = https://git.openstack.org/openstack/oslosphinx
	branch = .
[submodule "oslotest"]
	path = oslotest
	url = https://git.openstack.org/openstack/oslotest
	branch = .
[submodule "ossa"]
	path = ossa
	url = https://git.openstack.org/openstack/ossa
	branch = .
[submodule "pycadf"]
	path = pycadf
	url = https://git.openstack.org/openstack/pycadf
	branch = .
[submodule "pylockfile"]
	path = pylockfile
	url = https://git.openstack.org/openstack/pylockfile
	branch = .
[submodule "python-barbicanclient"]
	path = python-barbicanclient
	url = https://git.openstack.org/openstack/python-barbicanclient
	branch = .
[submodule "python-ceilometerclient"]
	path = python-ceilometerclient
	url = https://git.openstack.org/openstack/python-ceilometerclient
	branch = .
[submodule "python-cinderclient"]
	path = python-cinderclient
	url = https://git.openstack.org/openstack/python-cinderclient
	branch = .
[submodule "python-designateclient"]
	path = python-designateclient
	url = https://git.openstack.org/openstack/python-designateclient
	branch = .
[submodule "python-ganttclient"]
	path = python-ganttclient
	url = https://review.openstack.org/openstack/python-ganttclient.git
	branch = .
[submodule "python-glanceclient"]
	path = python-glanceclient
	url = https://git.openstack.org/openstack/python-glanceclient
	branch = .
[submodule "python-heatclient"]
	path = python-heatclient
	url = https://git.openstack.org/openstack/python-heatclient
	branch = .
[submodule "python-ironicclient"]
	path = python-ironicclient
	url = https://git.openstack.org/openstack/python-ironicclient
	branch = .
[submodule "python-keystoneclient"]
	path = python-keystoneclient
	url = https://git.openstack.org/openstack/python-keystoneclient
	branch = .
[submodule "python-keystoneclient-federation"]
	path = python-keystoneclient-federation
	url = https://git.openstack.org/openstack/python-keystoneclient-federation
	branch = .
[submodule "python-keystoneclient-kerberos"]
	path = python-keystoneclient-kerberos
	url = https://git.openstack.org/openstack/python-keystoneclient-kerberos
	branch = .
[submodule "python-kiteclient"]
	path = python-kiteclient
	url = https://git.openstack.org/openstack/python-kiteclient
	branch = .
[submodule "python-manilaclient"]
	path = python-manilaclient
	url = https://git.openstack.org/openstack/python-manilaclient
	branch = .
[submodule "python-neutronclient"]
	path = python-neutronclient
	url = https://git.openstack.org/openstack/python-neutronclient
	branch = .
[submodule "python-novaclient"]
	path = python-novaclient
	url = https://git.openstack.org/openstack/python-novaclient
	branch = .
[submodule "python-openstackclient"]
	path = python-openstackclient
	url = https://git.openstack.org/openstack/python-openstackclient
	branch = .
[submodule "python-saharaclient"]
	path = python-saharaclient
	url = https://git.openstack.org/openstack/python-saharaclient
	branch = .
[submodule "python-swiftclient"]
	path = python-swiftclient
	url = https://git.openstack.org/openstack/python-swiftclient
	branch = .
[submodule "python-troveclient"]
	path = python-troveclient
	url = https://git.openstack.org/openstack/python-troveclient
	branch = .
[submodule "python-tuskarclient"]
	path = python-tuskarclient
	url = https://git.openstack.org/openstack/python-tuskarclient
	branch = .
[submodule "python-zaqarclient"]
	path = python-zaqarclient
	url = https://git.openstack.org/openstack/python-zaqarclient
	branch = .
[submodule "qa-specs"]
	path = qa-specs
	url = https://git.openstack.org/openstack/qa-specs
	branch = .
[submodule "requirements"]
	path = requirements
	url = https://git.openstack.org/openstack/requirements
	branch = .
[submodule "sahara"]
	path = sahara
	url = https://git.openstack.org/openstack/sahara
	branch = .
[submodule "sahara-dashboard"]
	path = sahara-dashboard
	url = https://git.openstack.org/openstack/sahara-dashboard
	branch = .
[submodule "sahara-extra"]
	path = sahara-extra
	url = https://git.openstack.org/openstack/sahara-extra
	branch = .
[submodule "sahara-image-elements"]
	path = sahara-image-elements
	url = https://git.openstack.org/openstack/sahara-image-elements
	branch = .
[submodule "sahara-specs"]
	path = sahara-specs
	url = https://git.openstack.org/openstack/sahara-specs
	branch = .
[submodule "security-doc"]
	path = security-doc
	url = https://git.openstack.org/openstack/security-doc
	branch = .
[submodule "stevedore"]
	path = stevedore
	url = https://git.openstack.org/openstack/stevedore
	branch = .
[submodule "swift"]
	path = swift
	url = https://git.openstack.org/openstack/swift
	branch = .
[submodule "swift-bench"]
	path = swift-bench
	url = https://git.openstack.org/openstack/swift-bench
	branch = .
[submodule "swift-specs"]
	path = swift-specs
	url = https://git.openstack.org/openstack/swift-specs
	branch = .
[submodule "taskflow"]
	path = taskflow
	url = https://git.openstack.org/openstack/taskflow
	branch = .
[submodule "tempest"]
	path = tempest
	url = https://git.openstack.org/openstack/tempest
	branch = .
[submodule "tempest-lib"]
	path = tempest-lib
	url = https://git.openstack.org/openstack/tempest-lib
	branch = .
[submodule "tooz"]
	path = tooz
	url = https://git.openstack.org/openstack/tooz
	branch = .
[submodule "training-guides"]
	path = training-guides
	url = https://git.openstack.org/openstack/training-guides
	branch = .
[submodule "tripleo-heat-templates"]
	path = tripleo-heat-templates
	url = https://git.openstack.org/openstack/tripleo-heat-templates
	branch = .
[submodule "tripleo-image-elements"]
	path = tripleo-image-elements
	url = https://git.openstack.org/openstack/tripleo-image-elements
	branch = .
[submodule "tripleo-incubator"]
	path = tripleo-incubator
	url = https://git.openstack.org/openstack/tripleo-incubator
	branch = .
[submodule "tripleo-puppet-elements"]
	path = tripleo-puppet-elements
	url = https://git.openstack.org/openstack/tripleo-puppet-elements
	branch = .
[submodule "tripleo-specs"]
	path = tripleo-specs
	url = https://git.openstack.org/openstack/tripleo-specs
	branch = .
[submodule "trove"]
	path = trove
	url = https://git.openstack.org/openstack/trove
	branch = .
[submodule "trove-integration"]
	path = trove-integration
	url = https://git.openstack.org/openstack/trove-integration
	branch = .
[submodule "trove-specs"]
	path = trove-specs
	url = https://git.openstack.org/openstack/trove-specs
	branch = .
[submodule "tuskar"]
	path = tuskar
	url = https://git.openstack.org/openstack/tuskar
	branch = .
[submodule "tuskar-ui"]
	path = tuskar-ui
	url = https://git.openstack.org/openstack/tuskar-ui
	branch = .
[submodule "zaqar"]
	path = zaqar
	url = https://git.openstack.org/openstack/zaqar
	branch = .
[submodule "zaqar-specs"]
	path = zaqar-specs
	url = https://git.openstack.org/openstack/zaqar-specs
	branch = .
